footer {
    position: relative;
    clear: both;
    overflow: hidden;
    padding: 1em;
    z-index: 20;
    display: grid;
    grid-template-areas:'menu menu logo'
                        'social social logo'
                        'cpr  cpr    cpr';
    width: calc(100% - 2em);
    height: 100px;
    background-color: color(footerNav);

    nav.footermenu {
        grid-area: menu;
        
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            li {
                
                a {
                    cursor: pointer;
                    text-transform: lowercase;
                    text-align: center;
                    font-size: 1em;
                    color: color(textNav);
                    padding: 1em .7em ;
                }
            }
        }
    }

    section.footersocial {
        grid-area: social;
        margin-top: .5em;
        display: flex;
        align-items: center;
        justify-content: space-between;


        a {
            cursor: pointer;
            padding: 1em 1.5em ;

            img{
                width: 1.5em;
                height: 1.5em;
            }
        }
    }

    section.footerlogo {
        grid-area: logo;
        display: flex;
        justify-content: space-evenly;

        img{
            width: 2.5em;
            height: 2.5em;
        }
    }

    div.copyright {
        grid-area: cpr;

        p {
            text-align: center;
            font-size: .7em;
            font-weight: 400;
            color: color(textNav);
        }
    }
  }

  @media only screen and (min-width: 768px) {
    footer {
        grid-template-areas:'menu social logo'
                            'cpr  cpr    cpr';
        height: fit-content;
    
        nav.footermenu {
            grid-area: menu;
                    
            ul {
                flex-direction: column;
                align-items: flex-start;
                
                li {
                    margin: .5em 70% .5em 30%;
                    
                    a {
                        font-size: 1.2em;
                    }
                }
            }
        }
    
        section.footersocial {
            margin-top: 0;
            flex-direction: row;
            align-items: center;
    
            a {
                padding: 1em;
    
                img{
                    width: 2.5em;
                    height: 2.5em;
                }
            }
        }
    
        section.footerlogo {
            justify-content: flex-end;
            align-items: center;
    
            img{
                width: 3em;
                height: 3em;
            }
        }
      }
  }