header {
    position: absolute;
    top: 0;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: calc(100% - 2em);
    height: 20px;
    background-color: color(headerNav);
    
    a {
        color: color(textNav);
    }

    a.maintitle {
        font-size: font(aMobile);
        font-weight: bold;
        text-transform: lowercase;
    }

    img.menuopenbutton {
        width: 15px;
        height: 15px;
        margin: auto 0;    
    }
}

aside {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 40;
    width: 50%;
    max-width: 200px;
    height: 100%;
    background-color: color(menuContainer);
    
    // animation keyframes slide-menu
    transform: scaleX(0);
    transform-origin: right;
    
    img.menuclosebutton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;

        // animation keyframes slide-menu
        opacity: 0;
    }
    
    img.ferrarimenulogo {
        display: block;
        margin: 60px auto 0 auto;
        width: 8em;
        height: 8em;
        z-index: 30;

        // animation keyframes slide-menu
        opacity: 0;
    }
    
    ul {
        display: grid;
        margin-top: 60px;
        
        li {
            list-style: none;
            justify-self: center;
            text-align: center;
            margin: 1em;
            padding: 1em;
            width: calc(100% - 2em);
            
            // animation keyframes slide-menu
            opacity: 0;     

            &:hover {
                cursor: pointer;
                background-color: color(menuContainerButtons);
            }
            
            a {
                color: color(menuButtonsText);
                font-weight: bold;
                font-size: font(aMobile);
                padding: .6em;
            }
        }
    }
}


@media only screen and (min-width: 768px) {
    header {
        height: fit-content;
        
        a.maintitle {
            font-size: font(aLarge);
        }
        
        img.menuopenbutton {
            width: 18px;
            height: 18px;
        }
    }
}

// animation open side menu
.show-menu {
    display: block;
    animation: slide-menu .5s ease-in forwards;

    .menuclosebutton {
        animation: show-x 1s .4s forwards;
    }

    .ferrarimenulogo {
        animation: menu-item-anim .6s forwards .4s ease-in-out;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .6s forwards .6s ease-in-out;
    }
    li:nth-of-type(2) {
        animation: menu-item-anim .6s forwards .8s ease-in-out;
    }
    li:nth-of-type(3) {
        animation: menu-item-anim .6s forwards 1s ease-in-out;
    }
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}