header {
    position: absolute;
    top: 0;
    padding: 1em;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: calc(100% - 2em);
    height: 20px;
    background-color: color(headerNav);
    
    a {
        color: color(textNav);
    }

    a.maintitle {
        font-size: 1.1em;
        font-weight: bold;
        text-transform: lowercase;
    }

    img.menuopenbutton {
        width: 15px;
        height: 15px;
        margin: auto 0;    
    }
}

aside.sidebarmenu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 40;
    width: 50%;
    max-width: 200px;
    height: 100vh;
    background-color: color(menuContainer);
    
    img.menuclosebutton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
    }

    img.ferrarimenulogo {
        display: block;
        margin: 60px auto 0 auto;
        width: 8em;
        height: 8em;
        z-index: 30;
    }

    ul {
        display: grid;
        margin-top: 60px;
        
        li {
            list-style: none;
            justify-self: center;
            text-align: center;
            margin: 1em;
            padding: 1em;
            width: calc(100% - 2em);
            
            &:hover {
                cursor: pointer;
                background-color: color(menuContainerButtons);
            }

            a {
                font-weight: normal;
                padding: 1em;
            }
        }
    }
}


@media only screen and (min-width: 768px) {
    header {
        height: fit-content;
        
        a.maintitle {
            font-size: 1.4em;
        }
        
        img.menuopenbutton {
            width: 18px;
            height: 18px;
        }
    }
}