$colors: (
    headerNav: #1c0d0d,
    footerNav: #1c0d0d,
    menuContainer: #1c0d0d,
    menuContainerButtons: #311616,
    mainBackground: #FF0000,
    darkBackground: #111,
    textNav: #fff,
    primary: #fff
);
    
@function color($colorsnames) {
    @return map-get($colors, $colorsnames);
}